/*

* {
    border: 2px solid red;
}

*/



html {
    scroll-behavior: smooth;
    min-height: 100%;
    min-width: 100%;
}

body {
    align-content: center;
    /*
    background: rgb(143,220,236);
    background: linear-gradient(180deg, rgba(143,220,236,1) 0%, rgba(39,110,249,1) 100%);
    */

    background: rgb(208,208,208);
    background: linear-gradient(0deg, rgba(208,208,208,1) 0%, rgba(252,251,251,1) 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: space-between;

    height: 100%;
    
}

p,
h2,
li {
    font-family: Nunito, sans-serif;
    margin: 0;
}

h2 em {
    color: #2063d6;
    font-style: normal;
}

.header_container {
    display: flex;
    margin: 0;
    height: 4rem;
    align-items: center;
    margin-right: 5vw;
    margin-top: 2vw;
    font-size: 0.8vw;
}





.home_container {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-grow: 1;

}

.home_intro_wrapper {

    font-size: 3vw;
    font-weight: bolder;
    width: 30vw;

    margin: 5vw 10vw;
    position: relative;

}

.home_intro_wrapper p {
    font-size: 1.5vw;
    font-weight: lighter;
    color: #69706ba0;
    
    line-height: 1;
}
.home_container .image_container {
    display: block;
}

.home_container .image_container img {
    width: 10vw;
    margin: 5vw 10vw;
    position: relative;
    border-bottom: 5px solid turquoise;
    border-right: 5px solid turquoise
}

.footer_container {
    background: linear-gradient(0deg, rgba(184,184,184,1) 0%, rgba(166,166,166,1) 100%);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5rem;
}

.left, .right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  a {
      text-decoration: none;
  }

 ul {
     margin: 0;
     padding: 0;
     gap: 16px;
 }
 li {
     list-style-type: none;
 }