/* Card.module.css */

.card {
    border: 1px solid hsl(0, 0%, 33%);
    border-radius: 16px;
    padding: 2.5% 32px;
    box-shadow: 2px 5px 5px hsla(0, 0%, 100%, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    margin: 10px;
    background-color: #222;
    color: #fff;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
}

.link {
    text-decoration: underline;
}

.projectTitle {
    text-shadow: 0px 3px 10px black;
}

.gitHubLogo {
    width: 32px;
    height: auto;
}

.gitHubSection {
    height: 32px;
}