.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.socialLogos {
    width: 3em;
    height: auto;
}

.footerText {
    font-size: 1.5em;
    color: #757575
}